// ~~ TYPOGRAPHY ~~

$t-family: 'Noto', 'Lato', Helvetica, Arial, sans-serif;
$t-family-heading: 'Open Sans', Helvetica, Arial, sans-serif;

$t-font-size: 1rem;
$t-font-weight: 400;
$t-font-weight-heading: 700;

$t-line-height: 1.4;

$t-letter-spacing: 0;
