// ~~ TYPOGRAPHY ~~

$t-family: '-apple-system', 'system-ui', 'BlinkMacSystemFont', 'Noto', 'Lato', Helvetica, Arial, sans-serif;
$t-family-heading: 'Open Sans', Helvetica, Arial, sans-serif;

$t-font-size: 1rem;
$t-font-size-small: 0.8rem;
$t-font-size-large: 1.2rem;
$t-font-weight: 400;
$t-font-weight-heading: 700;

$t-line-height: 1.4;

$t-letter-spacing: 0;
